<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoodBoard1"
        tools:targetApi="31">
        <activity
            android:name=".SnackBar"
            android:exported="false" />
        <activity
            android:name=".Relaxed"
            android:exported="true" />
        <activity
            android:name=".Tired"
            android:exported="true" />
        <activity
            android:name=".excited"
            android:exported="true" />
        <activity
            android:name=".Function"
            android:exported="true" />
        <activity
            android:name=".Angry"
            android:exported="true" />
        <activity
            android:name=".Happy"
            android:exported="true" /> <!-- 🚀 Launcher splash screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MoodBoard1.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Main screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true" /> <!-- Your other activity -->
        <activity
            android:name=".sadmood"
            android:exported="false" />
    </application>

</manifest>